<nav class="nav nav--main">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="<%= config.root %>" class="nav-link"><%= __('Latest') %></a>
    </li>
    <li class="nav-item">
      <a href="<%= config.root %>" class="nav-link nav-link--center"><%= __('Title') %></a>
      </li>
    <li class="nav-item">
      <a href="<%= config.root + config.archive_dir %>" class="nav-link"><%= __('Archive') %></a>
    </li>
  </ul>
</nav>
